.WelcomeMessage{

    display:block;
    text-align:center;
    padding: 10px;
    margin: auto;
    width: 400px;
    padding-top: 100px;
}
.WelcomeMessage select{
    color: white;
    border-radius: 5px;
    border: 1px solid #3f3f3f;
    outline: none;
    background-color: #7b7474;
    width: 105%;
    padding: 6px 8px;
    font-size: large;
    margin-bottom: 40px;
}
.DefaultSelection{
    color: wheat;
    display:none;
}
.WelcomeMessage textarea{
    
    color: white;
    border-radius: 5px;
    border: 1px solid #3f3f3f;
    outline: none;
    background-color: #7b7474;
    width: 100%;
    height: 100px;
    padding: 6px 8px;
    font-size: large;
    
}
.WelcomeMessage textarea:focus{
    outline: 1px solid #fff;
}
.WelcomeMessage button{
    margin-top: 10px;
    margin-left: 195px;
}
.WelcomeMessage label{
    margin-right: 80px;
}